<launch>
    <!-- <node pkg="kf_launch" type="beat.py" name="tfbeat" output="screen">
        <param name="rate" value="4"/>
    </node> -->

    <!-- TODO: Replace by a node that removes the rotation and publishes the base_footprint -->
    <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="base_footprint_static_broadcaster" args="0 0 -0.1 0 0 0 /base_link /base_footprint" /> -->

    <node pkg="tf2_ros" type="static_transform_publisher" name="sbg_static_broadcaster" args="-0.1 0 0.06 0 0 0 /base_link /sbg" />

    <node pkg="tf2_ros" type="static_transform_publisher" name="hazcam_static_broadcaster" args="0.33 0 0.04 0 0 0 /base_link /camera_link" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="lidar_static_broadcaster" args="0.04 0 0.16 0 0 3.14159 /base_link /laser" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="polcam_static_broadcaster" args="0.10575 0.00517 0.53474 1.56198 -3.14 0.925 /base_link /polcam_link" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="anemometer_static_broadcaster" args="-0.54 0 0.32 0 0 3.14159 /base_link /anemometer_link" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="sail_encoder_static_broadcaster" args="0.30 0 0.05 3.14159 0 0  /base_link /sail_encoder_link" />

<!-- rvec:  1.56198 1.56962 0.92502  tvec:  0.00517 0.53474 0.10575  -->
<!-- translation: 0.10575 0.00517 0.53474 rotation: yaw pitch roll -->


    <node pkg="tf2_ros" type="static_transform_publisher" name="gps_a1_static_broadcaster" args="-0.04 -0.49 0.29 0 0 0 /sbg /gps_a1" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="gps_a2_static_broadcaster" args="-0.04 0.49 0.29 0 0 0 /sbg /gps_a2" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="gps_tl_static_broadcaster" args="-0.53  0.3776 -0.16 0 0 0 /base_link /thruster_left" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="gps_tr_static_broadcaster" args="-0.53 -0.3776 -0.16 0 0 0 /base_link /thruster_right" />

    <!-- publish the inverse kinematics from the base to sbg-->
    <!-- node pkg="kingfisher_static_tfs" type="publish_kf_tf.py" name="odom_broadcaster"/-->
</launch>
